
<launch>

	<!-- <include file="launch/remote_viz.launch"/> -->

	<include file="launch/kinect_laser.launch"/>
	

<!-- default transforms -->
	<node pkg="SenDes" type="setup_tf" name="defaulttf" />

	<node pkg="SenDes" type="kinect_scanner" name="kinect_scanner" output="screen">
	  <param name="start_tilt" value="-20.0"/>
	  <param name="tilt_rate" value="0.0"/>
	  <param name="min_tilt" value="-25.0"/>
	  <param name="max_tilt" value="-15.0"/>
	</node>
<!-- mouse-odometry -->
	<node pkg="SenDes" type="mouseodo" name="mouse" output="screen" args="/dev/odometer /dev/gyro_yaw">
		<param name="linearCalibration" value="19500"/>
		<param name="angularCalibration" value="1.2"/>
		<param name="radius" value=".2"/>

	</node>

	<node pkg="SenDes" type="base_controller" name="controller" args="" output="screen" />



</launch>
