<launch>
  <!-- default transforms -->
  <node pkg="SenDes" type="setup_tf" name="defaulttf" />

<!-- mouse-odometry -->
  <node pkg="SenDes" type="mouseodo" name="mouse" args="/dev/input/event7" />
  <param name="robot_description" textfile="senor.urdf" />
  <node pkg="SenDes" type="base_controller" name="controller" args="" />

  <node pkg="rviz" type="rviz" args="--sync" name="visualizer" /> 

</launch>
